In [1]:
import pandas as pd
import numpy as np
from tqdm.auto import tqdm

tqdm.pandas()

import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv('final_data_clusters.csv', index_col=0)
print(data.shape)
data.head()

(595542, 516)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,1% Lowfat Milk,100 Calorie Per Bag Popcorn,100% Raw Coconut Water,100% Recycled Paper Towels,...,Crackers Cheddar Bunnies Snack Packs,days_since_first_order,reorders,organics,basket_size,num_orders,global_reorders,tx_purpose_weekly,tx_purpose_monthly,clusters
0,4,178520,36,1,9,7.0,0.0,0.0,0.0,0.0,...,0.0,231.0,10.0,0.0,13.0,58.0,12.0,1.0,0.0,11
1,5,156122,42,6,16,9.0,0.0,0.0,0.0,0.0,...,0.0,289.0,13.0,3.0,26.0,53.0,24.0,0.0,0.0,7
2,15,54901,51,3,11,2.0,0.0,0.0,0.0,0.0,...,0.0,152.0,19.0,1.0,5.0,99.0,3.0,0.0,0.0,6
3,18,118860,3,4,20,6.0,0.0,0.0,0.0,1.0,...,0.0,13.0,13.0,6.0,28.0,47.0,18.0,0.0,0.0,6
4,28,98256,29,3,13,6.0,1.0,0.0,0.0,0.0,...,0.0,128.0,32.0,7.0,16.0,81.0,8.0,0.0,0.0,3

In [3]:
users = list(data['user_id'].unique())
len(users)

10000

In [4]:
orders = list(data['order_id'].unique())
len(orders)

594798

In [5]:
# data = data.set_index('user_id')
data = data.drop(columns='order_id')
cols = data.columns

In [6]:
data = data.sort_values(['user_id', 'order_number'])

In [7]:
print(data.shape)
data.head()

(595542, 515)

,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,1% Lowfat Milk,100 Calorie Per Bag Popcorn,100% Raw Coconut Water,100% Recycled Paper Towels,100% Whole Wheat Bread,...,Crackers Cheddar Bunnies Snack Packs,days_since_first_order,reorders,organics,basket_size,num_orders,global_reorders,tx_purpose_weekly,tx_purpose_monthly,clusters
63167,27,1,3,9,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,83.0,0.0,0.0,0.0,2
289335,27,2,2,17,6.0,0.0,0.0,0.0,0.0,0.0,...,0.0,6.0,1.0,2.0,6.0,83.0,3.0,0.0,0.0,2
168422,27,3,3,8,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,7.0,1.0,0.0,2.0,83.0,2.0,0.0,0.0,2
495171,27,4,5,13,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,1.0,0.0,7.0,83.0,6.0,0.0,0.0,2
175636,27,5,2,15,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,17.0,2.0,0.0,2.0,83.0,1.0,0.0,0.0,2

In [8]:
in_len_array = [3, 3, 3, 5, 5, 5, 10, 10, 10, 10]
out_len_array = [1, 2, 3, 1, 3, 5, 1, 3, 5, 10]

for in_len, out_len in tqdm(zip(in_len_array, out_len_array), desc='Combinations'):

    inp = []
    out = []

    for user in tqdm(users,desc=f'combination i:{in_len} o:{out_len}'):
        temp = data[data['user_id']==user].values
        for t in range(in_len, len(temp)-out_len+1):
            i = temp[t-in_len:t, 1:]
            o = temp[t:t+out_len, 5:-9]
            # .drop(columns=['user_id', 'order_dow', 'order_hour_of_day', 'days_since_prior_order', 'order_number', 'days_since_first_order', 'reorders', 'organics', 'basket_size', 'num_orders', 'global_reorders'])
            out.append(o)
            inp.append(i)

    inp = np.array(inp)
    out = np.array(out)
    print(inp.shape)
    print(out.shape)

    np.savez_compressed(f'arrays/np_input_{in_len}_{out_len}', inp)
    np.savez_compressed(f'arrays/np_output_{in_len}_{out_len}', out)

Combinations: 0it [00:00, ?it/s]

combination i:3 o:1:   0%|          | 0/10000 [00:00<?, ?it/s]

(565542, 3, 514)
(565542, 1, 501)

combination i:3 o:2:   0%|          | 0/10000 [00:00<?, ?it/s]

(555542, 3, 514)
(555542, 2, 501)

combination i:3 o:3:   0%|          | 0/10000 [00:00<?, ?it/s]

(545542, 3, 514)
(545542, 3, 501)

combination i:5 o:1:   0%|          | 0/10000 [00:00<?, ?it/s]

(545542, 5, 514)
(545542, 1, 501)

combination i:5 o:3:   0%|          | 0/10000 [00:00<?, ?it/s]

(525542, 5, 514)
(525542, 3, 501)

combination i:5 o:5:   0%|          | 0/10000 [00:00<?, ?it/s]

(505542, 5, 514)
(505542, 5, 501)

combination i:10 o:1:   0%|          | 0/10000 [00:00<?, ?it/s]

(495542, 10, 514)
(495542, 1, 501)

combination i:10 o:3:   0%|          | 0/10000 [00:00<?, ?it/s]

(475542, 10, 514)
(475542, 3, 501)

combination i:10 o:5:   0%|          | 0/10000 [00:00<?, ?it/s]

(455544, 10, 514)
(455544, 5, 501)

combination i:10 o:10:   0%|          | 0/10000 [00:00<?, ?it/s]

(405633, 10, 514)
(405633, 10, 501)